 a{
  font-size: 40px;
  text-decoration: none;
  color: black;
}
p{
  font-size: 40px;
}

h1{
  font-size: 96px;
}
h2{
  font-size: 64px;
}
h3{
  font-size: 48px;
}
button a {
  font-size: 32px;
}

html {
  background-color: #FDF1D6;
  margin-left: 10px;
  margin-left: 10px;
}
/* ===Font-Size texte↑ === */


nav {
 margin-left: 45rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 34px;
}

nav img {
  max-width: 34px;
  max-height: 34px;
}


/* ===Navbar ↑=== */
/* Thème sombre */
body.dark {
  background-color: #121212; 
  color: #E0E0E0;           
}

body.dark nav {
  background-color: #1f1f1f; 
}

body.dark a {
  color: #E0E0E0; 
}
/* =====================Darkmode=================== */
/* ===================En commun ↑ =================================================== */
.container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
}

.container li{
  margin: 15px;
}

/* Contenu texte */
.container > div:first-child {
  flex: 1;                
  margin-right: 2rem;   
}


.img-content {
  margin-top: 50px;
  width: 500px;
  height: 500px;
}

.img-content img {
  max-width: 100%;        /* Image responsive */
  height: auto;
  display: block;
}

